main {
    padding: auto;
}

ul.breadcrumb {
    text-align: center;
}

ul.breadcrumb li {
    display: inline;
    font-size: 1.2rem;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  /* Code get from https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */
ul.breadcrumb li+li:before {
    padding: 0.5rem;
    content: ">\00a0";
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    padding: 0.5rem;
}

img.bookImage {
    height: 14em;
    width: 14em;
}
img.bookImage_small {
    height: 3rem;
    width: 14rem;
}
.flex-items {
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.flex-items ul {
    list-style-type: none;
}
.flex-items ul li {
    margin: 1rem;
}

article {
    padding: 5%;
}

p {
    font-weight:500px;
    font-family: 'Times New Roman', Times, serif;
}