.category-container {
width: 90%;
margin-left: 5%;
margin-right: 5%;
border-radius: 10px;
margin-top : 1rem;
margin-bottom: 1rem;
background-color: #dbd283;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: space-evenly;
}

h2 {
    text-align: center;
    text-size-adjust: 2em;
}

ul li {
    list-style-type: none;
}
.book-list {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.book {
    text-align: center;
    height: 100%;

}
.book img {
    max-width: 10rem;
    height: auto;
}